* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  height: 100vh;
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}

.forecast {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.box {
  margin: 15px;
}

.day {
  background-color: #6666ff;
  color: white;
  font-size: 16px;
  padding: 5px 7px;
  display: flex;
}

.icon {
  display: flex;
}
.icon img {
  margin-right: 10px;
}

.summary {
  font-size: 14px;
}

.high,
.low {
  font-size: 14px;
}

.high {
  font-weight: bold;
}
